<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet1</display-name>
    <servlet-name>EditProfileServlet1</servlet-name>
    <servlet-class>com.facebookweb.controller.EditProfileServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet1</servlet-name>
    <url-pattern>/EditProfileServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProfileServlet</display-name>
    <servlet-name>DeleteProfileServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.DeleteProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfileServlet</servlet-name>
    <url-pattern>/DeleteProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProfileServlet</display-name>
    <servlet-name>SearchProfileServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.SearchProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProfileServlet</servlet-name>
    <url-pattern>/SearchProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllProfileServlet</display-name>
    <servlet-name>ViewAllProfileServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.ViewAllProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllProfileServlet</servlet-name>
    <url-pattern>/ViewAllProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.facebookweb.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
</web-app>